<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">StoreEverything</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/information/list">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/information/add">Add information</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link active" aria-current="page" href="/users">Users list</a>
                </li>
            </ul>

            <div sec:authorize="isAnonymous()">
                <a class="nav-link" href="/login">
                    <button class="btn">Login</button>
                </a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">
                    <button class="btn">Logout</button>
                </a>
                <button class="btn">Wellcome, <span sec:authentication="name"></span></button>
            </div>
            <div>

            </div>
        </div>
    </div>
</nav>

<div>
    <h1 th:text="${information.title}"></h1>
    <div th:text="'Create date: '+ ${information.addDate} + '; Category: ' +${information.category.name}"></div>
    <div th:if="${information.link != null}">Link: <a th:href="@{${information.link}}" th:text="${information.link}"></a></div>
    <div>
        Content:
     <p th:text="${information.content}"></p>
    </div>
    <a class="nav-link active" aria-current="page" th:href="@{/information/}+${information.id}+@{/edit}"><button
            class="btn btn-primary" type="button">Edit</button></a>
    <form  th:action="@{/information/}+${information.id} +@{/delete}" th:method="post">
        <button class="btn btn-primary" type="submit">Delete</button>
    </form>

</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>