<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<header th:insert="general_fragment.html :: nav"></header>


<div class="container row">

    <form id="login" method="post" class="col">
        <h3>Login</h3>
        <div class="form-group">
            <label for="login-login">Login:</label>
            <input type="text" required class="form-control" id="login-login" pattern="^([a-ząćęółżź\d]){5,}$"/>
        </div>

        <div class="form-group">
            <label for="login-password">Password:</label>
            <input type="password" required class="form-control" id="login-password"/>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div id="logintoastFailed" class=" toast danger" style="display: none;color: darkred;">
            <div class="toast-header">
                <strong class="me-auto">Login data is uncorrect</strong>
            </div>
        </div>
    </form>

    <form id="register" method="post" class="col">
        <h3>Register</h3>
        <div class="form-group">
            <label for="register-name">Name:</label>
            <input type="text" required class="form-control" minlength="3" maxlength="20"
                   pattern="^[A-ZĄŻŹĆÓŁĘ][a-zążźćłóę]*(\s[A-ZĄŻŹĆÓŁĘ][a-zążźćłóę]*)*$"
                   id="register-name"/>
        </div>

        <div class="form-group">
            <label for="register-surname">Surname:</label>
            <input type="text" required class="form-control" minlength="3" maxlength="50"
                   pattern="^[A-ZĄŻŹĆÓŁĘ][a-zążźćłóę]*(\s[A-ZĄŻŹĆÓŁĘ][a-zążźćłóę]*)*$"
                   id="register-surname"/>
        </div>

        <div class="form-group">
            <label for="register-email">Email:</label>
            <input type="email" required class="form-control" minlength="3" maxlength="20" id="register-email"/>
        </div>

        <div class="form-group">
            <label for="register-login">Login:</label>
            <input type="text" required class="form-control" minlength="3" maxlength="20" id="register-login"
                   pattern="^([a-ząćęółżź\d]){5,}$"/>
        </div>

        <div class="form-group">
            <label for="register-password">Password:</label>
            <input type="password" required class="form-control" id="register-password"/>
        </div>

        <div class="form-group">
            <label for="register-age">Age:</label>
            <input type="number" min="18" value="0" required class="form-control" id="register-age"/>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div id="toastSuccess" class="toast success" style="display: none;color: green">
            <div class="toast-header">
                <strong class="me-auto">Register successfull</strong>
            </div>
            <div class="toast-body">
                You can now login
            </div>
        </div>

        <div id="toastFailed" class=" toast danger" style="display: none;color: darkred;">
            <div class="toast-header">
                <strong class="me-auto">Register failed</strong>
            </div>
        </div>
    </form>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script>
    (() => {
        const REGISTER_KEY = "register";

        const onSubmit = (form) => {
            const submitObject = {
                login: document.querySelector(`#${form}-login`).value.toLowerCase(),
                password: document.querySelector(`#${form}-password`).value,
            }
            if (REGISTER_KEY === form) {
                submitObject.name = document.querySelector(`#${form}-name`).value;
                submitObject.surname = document.querySelector(`#${form}-surname`).value;
                submitObject.age = Number.parseInt(document.querySelector(`#${form}-age`).value);
                submitObject.email = document.querySelector(`#${form}-email`).value;
            }
            console.log(`http://${window.location.host}/user/${form}`);
            fetch(`http://${window.location.host}/user/${form}`, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(submitObject)
            }).then(x => x).then(x => {
                if (form != REGISTER_KEY) {
                    if (x.status < 400 && x.url !== `http://${window.location.host}/login`) {
                        window.location.replace(`http://${window.location.host}/`);

                    } else {
                        myAlert = document.getElementById('logintoastFailed');//select id of toast
                        myAlert.style.display = "block";
                    }
                } else {
                    if (x.status > 399) {
                        var myAlert = document.getElementById('toastSuccess');
                        myAlert.style.display = "none";
                        myAlert = document.getElementById('toastFailed');//select id of toast
                        myAlert.style.display = "block";
                    } else {
                        var myAlert = document.getElementById('toastSuccess');
                        myAlert.style.display = "block";
                        myAlert = document.getElementById('toastFailed');//select id of toast
                        myAlert.style.display = "none";
                    }
                }
            }).catch(e => {
                    console.log(e);
                }
            );
        }

        const loginForm = document.querySelector("#login");
        const registerForm = document.querySelector("#register");

        loginForm.addEventListener("submit", (e) => {
            e.preventDefault();
            onSubmit("login");
        });
        registerForm.addEventListener("submit", (e) => {
            e.preventDefault();
            onSubmit(REGISTER_KEY);
        });

    })();
</script>


</body>

</html>